.divider {
  position: absolute;
  left: -10px;
  top: 0;
  width: 20px;
  height: 100%;
  cursor: pointer;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: all;
}

.lineTop,
.lineBottom {
  width: 1px;
  background-color: var(--color-border);
  transition: all var(--transition-fast);
  flex: 1;
}

.divider:hover .lineTop,
.divider:hover .lineBottom {
  width: 0;
  border-left: 1px dashed var(--color-accent-light);
}

.icon {
  display: none;
  align-items: center;
  justify-content: center;
  padding: 4px 0;
  color: var(--color-accent-light);
}

.divider:hover .icon {
  display: flex;
}